<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.example.blast.BlastApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.activity.SplashActivity_0"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splashtheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity_1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity_2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity_3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity_4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.SubmitActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.myMediaPlayer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activity.myMediaPlayer2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- Vitamio Library -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- facebook SDK -->
        <activity android:name="com.facebook.LoginActivity" />
    </application>
</manifest>
